/*Homepage*/
.bg {
    background-image: url("https://as2.ftcdn.net/v2/jpg/02/31/19/57/1000_F_231195790_EDfh0c6FfqDH3G2KFrv3RI4EqSSfJ8jN.jpg");
    background-repeat: repeat;
}

.font {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    font-family: fantasy;
    color: crimson;
    padding-top: 100px;
    padding-bottom: 110px;
}

#no {
    color: rgb(61, 139, 125);
    font-family: fantasy;
    font-size: 20px;
    font-weight: 100;
    padding-left: 5px;
    padding-right: 5px;
}

#no:hover {
    color: black;
}

#hi {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: 100;
    padding-left: 800px;
    padding-right: 2px;
}

#hi:hover {
    color: blue;
}

#go {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;

}

#go:hover {
    color: blue;
}

.bgcolor {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 2000wh;
    padding-top: 10px;
    padding-bottom: 20px;
}

.colorbg {
    background-color: cadetblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    padding-left: 100px;
}

.fontsize {
    text-align: center;
    padding-left: 50px;
}

.bgm {
    background-image: url("https://cdn-icons-png.flaticon.com/512/463/463433.png?w=740&t=st=1673630531~exp=1673631131~hmac=e77dcc9feb8a64edd0340401e580da2de9f2fb34069e09362dfb5357cc04b650");
    background-repeat: space;
    border-image: auto;
    padding-left: 0px;
}

.batches {
    color: crimson;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.batches:hover {
    color: blue;
}

#contact {
    padding-bottom: 4rem;
    padding-left: 30px;
}

.socialicons {
    font-size: 40px;
    cursor: pointer;

}

.fa-brands {
    color: black;
}

.fa-brands:hover {
    color: red;
}

.fa-facebook,
.fa-instagram,
.fa-linkedin,
.fa-twitter {
    margin: 60px;
    color: red;
}

.noti {
    background-image: url("https://img.freepik.com/free-photo/environment-green-watercolor-background-with-leaf-border-illustration_53876-105302.jpg?w=740&t=st=1673642100~exp=1673642700~hmac=0f1d774495434fb8145ef44ad822a6627e9a777e23d61aa5eed886435b48ed88");
    padding-top: 80px;
    padding-bottom: 100px;
}

/*ABOUT*/
.abt {
    padding-left: 20px;
    padding-right: 20px;
}

.word {
    background-image: url("https://img.freepik.com/free-vector/christmas-background_87374-142.jpg?w=996&t=st=1673648010~exp=1673648610~hmac=8a1cf6b47d123bd5c7fa3d316ab8b077dc2f837c78a930cfc9e61dd91fbdc11d");
    background-repeat: repeat-x;
    width: 100%;
}

.clg {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 50px;
    color: darkgreen;
}

.points {
    text-align: center;
    font-size: 15px;
    padding-right: 40px;
    padding-left: 40px;
    color: purple;
}

.w {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

.pics {
    padding-left: 600px;
    padding-right: 600px;
    padding-bottom: 20px;
}

.img6 {
    width: 300px;
    padding: 10px
}

.clickme {
    padding: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

/*Admin login*/
.bgimg1 {
    background: url("https://t4.ftcdn.net/jpg/03/21/09/07/240_F_321090768_4rGy0wYi3lB98iTMELBEtOn8AqbbTJrO.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#naav {
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: bold;
    padding-right: 30px;

}

#naavs {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: bold;
    padding-right: 30px;
}

.container {
    max-width: 500px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    background-color: grey;
}

.heading1 {
    color: floralwhite;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 25px;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
    border-radius: 90px;
}

#form0 {
    padding-bottom: 1%;
}

#form5 {
    padding-top: px;
    padding-bottom: 5%;
}



.use {
    padding-top: 15px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 10px;
    background-color: pink;

}

.lock {
    padding-top: 15px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 10px;
    background-color: pink;
}

#username {
    padding-top: 10px;
    padding-bottom: 6x;
    padding-left: 50px;
}

#password {
    padding-top: 10px;
    padding-bottom: 6x;
    padding-left: 50px;
}

#click {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.block {
    padding-top: 13%;
}

.forms {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    padding-bottom: 2%;
}

.forms label {
    width: 30%;
    /*display: inline-block;*/
    padding: 10px;
    text-align: left;
}

.form-control {
    height: 45px;
    width: 235px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 100px;
    font-size: 16px;
    margin-left: 180px;
}

.para1 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;

}

.section0 {
    width: 55%;
}

/*Admin*/
html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.bgimg2 {
    background: url("https://www.finaleinventory.com/wp-content/uploads/2022/02/5-reasons-small-businesses-inventory-management-1024x341.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.format {
    max-width: 500px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border-radius: 15px;
    padding: 10px;
    border-style: none;
    margin: 5px;
    margin-top: 10px;
    margin-right: 50px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5%;
    margin-left: 30%;
    align-items: center;
    justify-content: center;
    position: relative;

}

.good {
    font-size: 300%;
    padding-bottom: 30px;
}

/*Home Page*/

.bgvedio1 {
    background: url("https://www.munialajuelita.go.cr/images/2021/07/01/conta-1.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.container2 {
    background-color: grey;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    padding: 20px;

}

.block1 {
    padding-top: 10%;
    padding-left: 10%;
}

.heaing2 {
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

.heading3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
}

.para1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

@media screen and (max-width:500px) {

    /*.bgvedio1 {
        height: 100vh;
        width: 100%;
    }
*/
    .block1 {
        padding: 10px;
    }
}

/*Add Results page*/

.bgimg5 {
    background: url("https://www.merittrac.com/sites/default/files/banners_Student%20Result%20Processing%20System.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    height: 100%;
}

.heading4 {
    color: rgb(114, 72, 16);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

#para0 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 10px;
    color: rgb(114, 72, 16);
}

.span0 {
    color: red;
    font-size: medium;
    font-weight: lighter;
}

/*Add Subject*/

.bgimg3 {
    background: url("https://www.finaleinventory.com/wp-content/uploads/2022/02/5-reasons-small-businesses-inventory-management-1024x341.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*Add results*/

.bgimg6 {
    background: url("https://www.merittrac.com/sites/default/files/banners_Student%20Result%20Processing%20System.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    height: 90vh;
}

/*Admin login*/

.bgimg4 {
    background: url("https://t4.ftcdn.net/jpg/03/21/09/07/240_F_321090768_4rGy0wYi3lB98iTMELBEtOn8AqbbTJrO.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container3 {
    background-color: grey;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
}

.form-row {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
    padding: 1px;
    padding-left: 20px;
}

.form-row label {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 100;
    position: relative;
    width: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;

}

.form-row input {
    /*background: transparent;*/
    border: 0;
    outline: 0;
    padding: 10px;
    border-bottom: 1px solid #999;
    color: #333;
    font-size: 16px;
    flex-basis: 60%;
}

.forms span {
    position: bottom;
    bottom: 12px;
    right: 17px;
    font-size: 14px;
    color: yellow;
    align-content: space-between;
}

.link1 {
    color: rgb(34, 10, 166);

}

.para {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
}

#click1 {
    color: white;
}