<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marks Sheet</title>
    <link rel="stylesheet" href="marks.css">
</head>

<body>
    <h1 class="heading0">RESULTS</h1>
    <div class="input-item">
        <label class="details">Student Id</label>
        <input class="studentid" />
    </div>
    <div class="input-item">
        <label class="details">Student Name</label>
        <input class="studentName" />
    </div>
    <div class="input-item">
        <label class="details">Section</label>
        <input class="section" />
    </div>
    <div class="table0 text-center mt-4 ml-4">
        <table border="2px solid black" cellpadding="15px" cellspacing="0px">
            <tr>
                <th>S.NO</th>
                <th>Subect</th>
                <th>marks</th>
                <th>Total Marks</th>

            </tr>
        </table>
    </div>


</body>

</html>