.heading0 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
}

.input-item {
    margin: 50px;
}

.table0 {
    margin: 50px;
}